body{
	background:#f7e8fc;
	padding: 30px;
	
}

a{
	color:#fc0303;
	text-decoration:none;
	font-size: 20px;
}


.example h1 {
	font-size: 60px;
	text-align : center;
	margin-right: 40px;
	color: green;
	
}

.example img {
	
	border-radius: 10%;
	border-color: black;
	border: 5px solid red;
}

.example  {
	
	
	padding : 40px;
	
}


