body{
	background:#f7e8fc;
	padding: 30px;
	
}

a{
	color:#fc0303;
	text-decoration:none;
	font-size: 20px;
}

.example {
    padding: 40px;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Ensure the content is stacked vertically (for h1 and img) */
    text-align: center; /* Center the text inside the example div */
}

.example h1 {
    font-size: 60px;
    color: green;
    margin-bottom: 50px; /* Add space below the h1 */
}

.example img {
    border-radius: 10%;
    border: 5px solid red; /* Border color is red with 5px thickness */
    width: 800px;
    height: 400px;
    max-width: 100%; /* Prevent image from overflowing horizontally */
    max-height: 100%; /* Prevent image from overflowing vertically */
}


table {
      border-collapse: collapse;
      width: 50%;
      margin: 20px auto;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }



font-family: Arial, sans-serif;
      margin: 20px;
    }
    .container {
      margin-bottom: 20px;
    }
    label {
      display: inline-block;
      width: 150px;
      margin-right: 10px;



